---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Juneau - web and mobile development agency</title>
  </head>
  <body>
    <nav>
      <div>JUNEAU</div>
      <ul>
        <li>
          <a href="#services"> services </a>
        </li>
        <li>
          <a href="#work"> work </a>
        </li>
        <li>
          <a href="#studio"> studio </a>
        </li>
      </ul>

      <div><a href="#contact"> Say Hello </a></div>
    </nav>

    <header>
      <h1>I can make you a website</h1>
    </header>

    <main>
      <section id="services">
        <h2>What we do</h2>
      </section>

      <section id="work">
        <h2>Selected work</h2>
      </section>

      <section id="studio">
        <h2>The studio</h2>
      </section>

      <section id="contact">
        <h2>Say Hello</h2>
      </section>
    </main>

    <footer>
      <p>2026 Juneau</p>
    </footer>
  </body>
</html>
